@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To GC Coffee Shop!</h1><br />
    <p><a asp-area="" asp-controller="Home" asp-action="Register">Register</a></p>
</div>
